[Unit]
Description=gRPC Auth Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/sso
ExecStart=/root/apps/sso/sso --config /root/apps/sso/config.env
Restart=no
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/sso/config.env

[Install]
WantedBy=multi-user.target